<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>The name of our site is <%= title %></h1>
    <p>Welcome to <%= title %></p>   
        <input type="text" id="documentName" name="documentName" placeholder="Document Name"></input>
        <input type="text" id="documentType" name="documentType" placeholder="Document Type"></imput>
        <input type="submit" id="addItemToDB" value="Add"></input>
    <div id="dbItems">
		<% for (var i = 0; i < dbItems.length; i++){ %>				
				<h3> 
					Task Name:<span id="taskName<%= i %>"><%= dbItems[i].taskName %> </span>
				</h3>
				<h3 id="dbItemType"> 
					Task Type: <%= dbItems[i].type %>
				</h3>
				<input type="submit" id="deleteItem<%= i %>Button" action="/invoice/delete" value="Remove">	
				<hr>
				<script type="text/javascript">
					// Script will grab the element id from the item when the Remove button is pushed.
					// When the i'th button is pushed, that item will get deleted from the database.
					$("#deleteItem<%= i %>Button").click(function(){
						$.post( "/invoice/delete", {
							_id: "<%= dbItems[i].id %>"
						},function( data ) {
						  $( ".result" ).html( data );
						  $("#dbItems").load("/" + " #dbItems");
						});
					});
				</script>
		<% } %>
	</div>
  </body>
  	<script type="text/javascript">
					// Script to handle add
		$("#addItemToDB").click(function(){
			var itemToSaveName = ($("#documentName").val());
			var itemToSaveType = ($("#documentType").val());
			console.log(itemToSaveType)
			$.post( "/", {
				documentName: itemToSaveName,
				documentType: itemToSaveType
			},function(  ) {
				
			});
		});
	</script>
</html>
